body {
    background-image: url("bg-01.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    width: 90%;

  }
.container{
    margin-left: 46%;
    margin-top: 12%;
  }
.button{
    margin-left: 4%;
}